@{
    ViewBag.Title = "CreateEmployee";
}
<h2>CreateEmployee</h2>
@{
    Layout = null;
}
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>



</head>
<body>
    <div>
        <form action="/Employee/SaveEmployee" method="post">
            First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><br />
            Last Name: <input type="text" id="TxtLName" name="LastName" value="" /><br />
            Salary: <input type="text" id="TxtS" name="Salary" value="" /><br />
            <input type="submit" name="BtnSubmit" value="Save Employee" />
        </form>
    </div>
</body>
</html>