@using MVCDataAccessLayer1.ViewModel
@using System.Collections.Generic
@model EmployeeRecordsViewModel
@{ 
    ViewBag.Title = "GetEmployee";
}
<a href="/Employee/AddView">Add New Employee</a>
<h2>EmployeeView</h2>



<div>
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th> Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (EmployeeViewModel item in Model.MyEmployees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.EmployeeName</td>
                <td style="background-color:@item.SalaryColor">@item.Salary</td>
            </tr>
        }
    </table>
</div>


