@model MVCDataAccessLayer.Models.UserDetails
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
            {
                @Html.LabelFor(c=>c.username)
                @Html.TextBoxFor(x=>x.username)
                <br/>

                @Html.LabelFor(c=>c.password)
                @Html.PasswordFor(x=>x.password)
                <br/>

                <input type="submit" name="BtnSubmit" value="Login"/>
            }

    </div>
</body>
</html>

